<h1>Director <%= @the_director.id %> details</h1>
<a href="/directors">Go back</a>


<hr>
<dl>
<dt>Name</dt>
<dt><%= @the_director.name %></dt>
<dt>Dob</dt>
<dt><%= @the_director.dob %></dt>
<dt>Bio</dt>
<dt><%= @the_director.bio %></dt>
<dt>Image</dt>
<dt><img src ="<%= @the_director.image %>" width=150></dt>
<dt>Created at</dt>
<dt><%= @the_director.created_at %></dt>
<dt>Updated at</dt>
<dt><%= @the_director.updated_at %></dt>
</dl>

<h2>Filmography</h2>

<% matching_movies = Movie.where({ :director_id => @the_director.id}) %>

<table border = "1">
  <tr>
  <th>ID</th>
  <th>Image</th>
  <th>Title</th>
  <th>Year</th>
  <th>Director</th>
  <th></th>
  </tr>

<% matching_movies.each do |a_movie| %>
  <tr>
  <td><%= a_movie.id %></td>
  <td><img src = "<%= a_movie.image %>" width=150></td>
  <td><%= a_movie.title %></td>
  <td><%= a_movie.year %></td>
  <td><%= @the_director.name %></td>
  <td><a href = "/movies/<%= a_movie.id %>">Show details</a></td>
  </tr>
<% end %>
</table>
